<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - FxPedia</title>


    <link href="~/lib/bootstrap4/css/bootstrap-rtl.css" rel="stylesheet" />

    <title id="Title1" runat="server">آريان فاركس پديا</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link href="Script/StyleSheet.css" rel="stylesheet" type="text/css" />



    <style type="text/css">

        .style14 {
            text-decoration: none;
            color: #000000;
        }
    </style>


</head>
<body>
 

<table border="0" width="100%" id="table1" cellspacing="0" cellpadding="0"
       class="head" align="center" dir="rtl">
    <tr>
        <td>
            @*<div align="right">*@


            <table border="0" width="100%" id="table2" dir="rtl" cellspacing="0" cellpadding="0">
                <tr>
                    <td valign="top" colspan="2">
                        <table border="0" width="100%" id="table5" dir="rtl" cellspacing="0" cellpadding="0" height="25">
                            <tr>
                                <td>
                                    <p align="left" class="a">
                                        <font face="Arial">
                                            <a target="_blank" href="http://www.fxpedia.com/Main_Page">
                                                <span style="text-decoration: none; font-size: 13px;">www.FxPedia.com</span>
                                            </a>
                                        </font>
                                </td>
                                <td width="32">&nbsp;</td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td width="155" valign="top">
                        <div align="center">
                            <table border="0" width="100%" id="table3" dir="rtl" cellspacing="0" cellpadding="0" height="104">
                                <tr>
                                    <td>
                                        <br />
                                        <img alt="" src="images/logo.gif" />

                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div align="center">
                                            <table border="1" width="95%" id="table6" dir="rtl" cellspacing="0"
                                                   cellpadding="8" bordercolor="#AAAAAA">
                                                <tr>
                                                    <td style="text-align: right">
                                                        <img alt="" src="images/bulet.gif" style="width: 5px; height: 5px" />
                                                        <a href="Default.aspx" class="a">
                                                            &nbsp; صفحه اصلي
                                                        </a><br class="style14" />
                                                        <img alt="" src="images/bulet.gif" style="width: 5px; height: 5px" />
                                                        <a href="gossary.aspx" class="a">
                                                            &nbsp; لغت نامه
                                                        </a><br />
                                                        <img alt="" src="images/bulet.gif" style="width: 5px; height: 5px" />
                                                        <a href="aboutfx.aspx" class="a">
                                                            &nbsp; درباره FXPedia
                                                        </a><br />
                                                        <img alt="" src="images/bulet.gif" style="width: 5px; height: 5px" />
                                                        <a href="help.aspx" class="a">
                                                            &nbsp; راهنما
                                                        </a>
                                                    </td>
                                                </tr>
                                            </table>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td valign="middle">
                                        <div width="218px">
                                            <br />
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </td>
                    <td>
                        <table border="0" width="99%" id="table4" dir="rtl" cellspacing="0" cellpadding="0">
                            <tr>
                                <td colspan="3">
                                    <table border="0" width="100%" id="table8" dir="rtl" cellspacing="0" cellpadding="0" height="22">
                                        <tr>
                                            <td width="30" class="tb1">&nbsp;</td>
                                            <td width="77">



                                                <a href="Default.aspx" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('Image1','','images/h1a.gif',1)">
                                                    <img src="images/h1.gif" border="0" alt="" name="Image1">
                                                </a>
                                            </td>
                                            <td width="20" class="tb1">&nbsp;</td>
                                            <td width="53">

                                                <a href="about.aspx" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('Image2','','images/ab1a.gif',1)">
                                                    <img src="images/ab1.gif" border="0" alt="" name="Image2">
                                                </a>
                                            </td>
                                            <td width="20" class="tb1">&nbsp;</td>
                                            <td width="43">
                                                <a href="contact.aspx" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('Image3','','images/c1a.gif',1)">
                                                    <img src="images/c1.gif" border="0" alt="" name="Image3">
                                                </a>
                                            </td>
                                            <td width="833" class="tb1">&nbsp;</td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                            <tr>
                                <td width="1%" class="tb2"></td>
                                <td width="97%" bgcolor="White" dir="rtl">

                                    <asp:ContentPlaceHolder id="ContentPlaceHolder1" runat="server">

                                    </asp:ContentPlaceHolder>

                                </td>
                                <td width="1%" class="tb3"></td>
                            </tr>
                            <tr>
                                <td width="1%">
                                    <img border="0" src="images/br3.gif" width="14" height="14">
                                </td>
                                <td width="97%" class="tb4"></td>
                                <td width="1%">
                                    <img border="0" src="images/br4.gif" width="14" height="14">
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td valign="top" colspan="2">
                <tr>
                    <td height="25px"></td>
                </tr>
            </table>
           
        </td>
    </tr>
</table>

<div class="container">
    <main role="main" class="pb-3">
        @RenderBody()
    </main>
</div>

 
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
@RenderSection("Scripts", required: false)
</body>
</html>

