@{


    Layout = "_Layout2.cshtml";}

ViewData["Title"] = "تماس با ما";
<div align="right">
    <table border="0" width="95%" id="table1" cellspacing="0" cellpadding="0" dir="rtl" height="30">
        <tbody>
            <tr>
                <td class="titr" valign="top">تماس با ما</td>
            </tr>
        </tbody>
    </table>
    <br>در هر لحظه آمادگي پاسخگويي
    و مشاوره به کاربران گرامي را داریم. لطفا با ما تماس بگيريد و خواسته خود را با ما
    در ميان بگذاريد. در صورت نياز با ایمیل <a class="a" href="mailto:fxpedia@hotmail.com">FxPedia@hotmail.com</a>
    و یا با شماره 09381105809 با ما در ازتباط باشید.<br>
    <br>
    <p style="text-align: justify">
        لازم به ذکر است نسخه چاپی همه مقالات حاضر در سایت را در کتابی با عنوان <strong>
            "دانشنامه بازارهای مالی بین الملل "
        </strong>به چاپ رسانده ایم تا مقالات به شیوه
        آسانتری در دسترس علاقمندان به بازار های مالی قرار گیرد.
    </p>
    <p style="text-align: justify">
        برای دریافت کتاب می توانید با مراجعه به
        انتشارات معتبر و یا از طریق تماس با ما اقدام به تهیه کتاب نمایید.
    </p>
    <p style="text-align: justify">
        &nbsp;
    </p>
    <p style="text-align: center">
        <img src="http://fxpedia.ir/images/fxpedia2.jpg">
    </p>
    <p style="text-align: center">
        &nbsp;
    </p>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
</div>